<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="DtaIP" value="192.168.2.134"></add>
    <add key="sTiles" value="WarehouseDB"></add>
    <add key="CH1_START" value="130"></add>
    <add key="CH1_END" value="600"></add>
  </appSettings>
</configuration>